<html ng-app='app'>
<head>
  <title>Products with a Factory Assignment</title>
  <script src='bower_components/angular/angular.js'></script>
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script type='text/javascript'>
    var myApp = angular.module('app', []);

    // Set up the factory
    myApp.factory('productsFactory', ['$http', function($http){
      var factory = {};

      // Factory methods
      var products =
      [
        // static products to make development easier.
        { name : "iPhone", price : 4.99 },
        { name : "Charging cable", price : 1.50 },
        { name : "Case", price : 110 },
        { name : "Cheese", price : 11 }
      ];

      // Add a product
      factory.add = function(product)
      {
        if(product.price && Number(parseFloat(product.price))==product.price)
        {
          products.push(product);
        }
      };

      // Delete a product
      factory.delete = function(productToDelete)
      {
        console.log("Num prod before: " + products.length);

        for(var i = 0; i < products.length; i++)
        {
            if(productToDelete === products[i])
              products.splice(i, 1);
        }

        // products = products.filter(function(product)
        // {
        //   return product !== productToDelete;
        // });

        console.log("Num prod after: " + products.length);
      };

      // Return all products by invoking the callback and passing the product objects.
      factory.index = function(callback)
      {
        callback(products);
      };

      return factory;
    }]);

    // Set up the controller.
    myApp.controller('productsController', ['$scope', 'productsFactory', function ($scope, productsFactory)
    {
        $scope.products = [];
        productsFactory.index(function(products)
        {
            $scope.products = products;
        });

        $scope.addProduct = function()
        {
          // Call the factory function to add the product.
          productsFactory.add($scope.newProduct);
        }

        $scope.deleteProduct = function(product)
        {
          // Call the factory function to add the product.
          productsFactory.delete(product);
        }

        // Set up sorting
        $scope.sortType = 'name';
        $scope.sortReverse = false;
    }]);
  </script>
</head>
<body>
    <div ng-controller='productsController'>
      <br>
      <form ng-submit="addProduct()">
        <p>Product Name: <input type="text" name="name" ng-model="newProduct.name"></p>
        <p>Product Price: <input type="number" step="0.01" name="price" ng-model="newProduct.price"></p>
        <br>
        <input type="submit" name="addproduct" value="Add Product">
      </form>
      <br>
      <table class="table table-striped">
        <tr>
          <th>
            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            Name
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-up"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
          </th>
          <th>
            <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
            Price
            <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-up"></span>
            <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-down"></span>
          </th>
          <th>Actions</th>
        </tr>
        <tr ng-repeat="product in products | orderBy:sortType:sortReverse track by $index">
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency:"$" }}</td>
          <td>
            <button type="button" name="deleteProduct" ng-click="deleteProduct(product)">Delete Product</button>
          </td>
        </tr>
      </table>
    </div>
</body>
</html>
