<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <div>
        <a href="/animals/new">Add a new animal test</a>
        <h4>Add a new animal</h4>
        <form action="/animals/new" method="post">
            <p>Name: <input type="text" name="name"></p>
            <p>Short Description: <input type="text" name="short_desc"></p>
            <input type="submit" name="submit" value="Add">
        </form>
        <a href="/">Cancel</a>
    </div>
</body>

</html>
